<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list>
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text" value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" value=""></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" color="success" routerLink="/home" size="small">Logar</ion-button> 
    </ion-card>
        <ion-button color="light" expand="block" routerLink="/cadastro">É novo aqui? Crie sua conta então</ion-button>
    
</ion-content>
